*, *:before, *:after {
    -webkit-tap-highlight-color: transparent; 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0; 
}

body {
    display: grid;
    grid-template-rows: 10vh 90vh;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, segoe ui, sans-serif;
    -webkit-touch-callout: none;
    overscroll-behavior: none;
    user-select: none;
    overflow: hidden;
    background-color: #181f25;
    color: #73879b;
    font-size: 16px;
}
input {
    width: 100%;
    height: 100%;
    font-size: 200%;
    background-color: inherit;
    color: inherit;
    padding-left: 20px;
    border: none;
    outline: 0;
}
input::placeholder {
    opacity: 0.3;
}
input::-webkit-search-cancel-button {
    position: relative;
    right: 20px;
}

ol {
    overflow-y: auto;
    display: block;
    padding: 0px;
    margin: 0;
}
ol li {
    border-bottom: 1px solid #393737;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5em;
    padding-top: 1em;
    padding-left: 1em;
    position: relative;
    list-style: none;
    font-size: 1.1em;
    display: block;
    height: 60px;
    width: 100%;
    float: left;
    margin: 0;
}
ol li::after {
    background-size: 30px 30px;
    height: 30px;
    width: 30px; 
    display: inline-block;
    position: absolute;
    text-align: center;
    content: "";
    opacity: 0.7;
    right: 12px;
    top: 12px;
}
ol li:last-child {
    border-bottom: none;
}
ol li[data-kosher="true"]:after {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="green"><path d="M5.48 10.089l1.583-1.464c1.854.896 3.028 1.578 5.11 3.063 3.916-4.442 6.503-6.696 11.311-9.688l.516 1.186c-3.965 3.46-6.87 7.314-11.051 14.814-2.579-3.038-4.301-4.974-7.469-7.911zm14.407.557c.067.443.113.893.113 1.354 0 4.962-4.038 9-9 9s-9-4.038-9-9 4.038-9 9-9c1.971 0 3.79.644 5.274 1.723.521-.446 1.052-.881 1.6-1.303-1.884-1.511-4.271-2.42-6.874-2.42-6.075 0-11 4.925-11 11s4.925 11 11 11 11-4.925 11-11c0-1.179-.19-2.313-.534-3.378-.528.633-1.052 1.305-1.579 2.024z"/></svg>');
}
ol li[data-kosher="false"]:after {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="red"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm9 12c0 1.94-.624 3.735-1.672 5.207l-12.535-12.535c1.472-1.048 3.267-1.672 5.207-1.672 4.962 0 9 4.038 9 9zm-18 0c0-1.94.624-3.735 1.672-5.207l12.534 12.534c-1.471 1.049-3.266 1.673-5.206 1.673-4.962 0-9-4.038-9-9z"/></svg>');
}